{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
{# gibt es 端berhaupt Ordner? #}
<h1>Karte hinzugef端gt</h1>
<p>Die Karte wurde erfolgreich hinzugef端gt, danke! <a href="{{ path('show_addcard_form', { 'idfolder': idfolder }) }}">Weitere Karten zu diesem Ordner hinzuf端gen</a></p>
{% endblock %}
