{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
<h1>Ordner hinzufügen</h1>
<p>Der Ordner wurde erfolgreich hinzugefügt, danke! Nun kannst Du <a href="{{ path('show_addcard_form', {'folder': idfolder}) }}">Karten hinzufügen</a>.</p>
{% endblock %}
