{% extends '::base.html.twig' %}

{% block body %}
<div id="menu">
<ul>
        <li><a href="{{ path('show_addfolder_form') }}">Ordner hinzufuegen</a></li>
        <li><a href="{{ path('show_addcard_form') }}">Karte hinzufuegen</a></li>
        <li><a href="{{ path('show_folders') }}">Ordneruebersicht anzeigen</a></li>
        <li><a href="{{ path('export_card', {'id_card': 1}) }}">Export Test</a></li>
</ul>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
{% endblock %}
