{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
{# gibt es ueberhaupt ordner? #}
<h1>Karte hinzuf&uumlgen</h1>
<p>Die Karte wurde erfolgreich hinzugef&uumlgt, danke! <a href="{{ path('show_addcard_form', { 'idfolder': idfolder }) }}">Weitere Karten zu diesem Ordner hinzufügen</a></p>
{% endblock %}
