{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
{# gibt es überhaupt Ordner? #}
{% if folders|length > 0 %}
<h1>Karte hinzufügen</h1>
<form action="{{ path('save_addcard_form') }}" method="post">
	<p>Fragestellung:</p> 
	<textarea name="question" rows="10" cols="50"></textarea><br>
	<p>Antwort:</p>
	<textarea name="answer" rows="20" cols="50"></textarea><br>
	<p>Ordner:</p>
	<select name="folder">
		{% for folder in folders %}
		<option value="{{ folder.idfolder }}" {% if idfolder is not null %}{% if folder.idfolder == idfolder %}selected{% endif %}{% endif %}>
			{{ folder.name }}
		</option>
		{% endfor %}
	</select>
	<input type="Submit">
</form>
{% else %}
Bitte zuerst einen Ordner hinzufügen!
{% endif %}
{% endblock %}
