{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
<h1>Ordner hinzuf&uumlgen</h1>
<p>Der Ordner wurde erfolgreich hinzugefuegt, danke! Nun kannst du <a href="{{ path('show_addcard_form', {'folder': idfolder}) }}">Karten hinzuf&uumlgen</a>.</p>
{% endblock %}
