{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
<h1>Ordner hinzufügen</h1>
<form action="{{ path('save_addfolder_form') }}" method="post">
	<p>Ordnername:</p> <input type="text" name="name"><br>
	<input type="Submit">
</form>
{% endblock %}
