{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
Add folder:
<form action="{{ path('save_addfolder_form') }}" method="post">
	Name: <input type="text" name="name"><br>
	<input type="Submit">
</form>
{% endblock %}
