{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
<h1>Fehler aufgetreten</h1>
<p>Folgender Text ist die produzierte log-Datei:</p>
<p style="color: red">
	{% if errorlog|length == 0 %}
		error.txt ist leer!
	{% else %}
		{{ errorlog }}
	{% endif %}
</p>
{% endblock %}
