{% extends 'FalshcardsBundle::base.html.twig' %}

{% block content %}
<h1>Falshcards: Home</h1>
Was tun?
<ul>
	<li><a href="{{ path('show_addfolder_form') }}">Ordner hinzuf&uumlgen</a></li>
	<li><a href="{{ path('show_addcard_form') }}">Karte hinzuf&uumlgen</a></li>
	<li><a href="{{ path('show_folders') }}">Ordner&uumlbersicht anzeigen</a></li>
	<li><a href="{{ path('export_card', {'id_card': 1}) }}">Export Test</a></li>
</ul>
{% endblock %}
