<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('screen.css') }}" media="screen" />
    </head>
    <body>
	<div id="menu">
		<ul>
			<li><a href="Reference">Link</a></li>
		</ul>
	</div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
