<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<style type="text/css" media="screen">
                body {
                  background-color: #e1ddd9;
                  font-size: 13px;
                  font-family: Arial, SunSans-Regular, Sans-Serif;
                  color:#564b47;
                  padding:0 20px;
                 }
                /*  positioning-layers statisch und absolut */
                #menu {
                  position: absolute;
                  width: 200px;
                  left: 20px;
                  background-color: #ff99CC;
                  padding:0;
                  margin:0;
                }
                #content {
                  margin-left: 200px;
                  background-color:#fff;
                  overflow: auto;
                }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
