{% extends '::base.html.twig' %}

{% block body %}
<div id="menu">
<ul>
        <li><a href="{{ path('show_addfolder_form') }}">Ordner hinzufügen</a></li>
        <li><a href="{{ path('show_addcard_form') }}">Karte hinzufügen</a></li>
        <li><a href="{{ path('show_folders') }}">Ordnerübersicht</a></li>
</ul>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
{% endblock %}
