* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;	/* Zentrierung für IE */
	background: url(bilder/background_page.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	padding: 0 20px;
}
* html body {
	font-size: small;	/* Schriftgrösse für IE5 Win */
}
h1 {
	font-size: 160%;
}
h2 {
	font-size: 145%;
}
h3 {
	font-size: 130%;
}
h4 {
	font-size: 120%;
}
/* positioning-layers static and absolute */
#main {
	width: 797px;
	text-align: left; /* Ausrichtung für Seitentext */
	margin-left: auto;	/* bewirkt Zentierung der Seite */
	margin-right: auto;
}
#menu {
	position: fixed;
	left: 10px;
	min-width: 200px;
	width: 20%;
}
#menu ul {
	list-style: none;
}
#menu ul li a {
	display: block;
	padding 4px 8px;
	background-color: #369;
	color: #FFF;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: white #369 #369 white;
	text-decoration: none;
}
#content {
	min-width: 500px;
	width: 70%;
	margin-left: 200px;
	background-color: #fff;
	overflow: auto;
}
#text {
	min-width: 500px;
	width: 70%;
	padding: 0 15px 5px 15px;
	margin: 0 0 0 120px;
	background-color: #CCC;
	border-left: 1px solid #369;
	border-right: 1px solid #369;
	border-top: 1px solid white;
}
#text h1 {
	padding: 25px 0 10px 0;
	border-bottom: 1px dotted #369;
}
#text p {
	padding: 5px 0 0 0;
}
#footer {
	clear: both;
	text-align: center;
	padding: 5px;
	border-top: 1px solid white;
}
#footer a {
	color: white;
}
